<div class="col-md-9 blog-main">
    <div class="widget-wrap">
        <p>商务合作请发邮件或添加微信。</p>
        <p>如果您喜欢我的网站，或者我的东西帮到了你，或者你愿意支持我，欢迎打赏赞助。</p>
        <p>金额不限，非常感谢！</p>
        <img src="<%- url_for('/img/about/alipay.png') %>" class="img-pay">
        <img src="<%- url_for('/img/about/wechatpay.png') %>" class="img-pay">
    </div>

    <div id="comments">
        <% page.addComment = true %>
        <wycode-comments path="<%- page.path %>"></wycode-comments>
    </div>

    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4650660107955528" data-ad-slot="6505490608"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<div class="col-md-3 blog-sidebar">
    <%- partial('_widget/about') %>
    <%- partial('_widget/friends') %>

    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4650660107955528" data-ad-slot="6505490608"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    
</div>