<div class="col-md-9 blog-main">
    <div class="widget-wrap">
        <p>如果您喜欢我的网站，或者我的东西帮到了你，或者你愿意支持我，欢迎打赏赞助。</p>
        <p>金额不限，非常感谢！</p>
        <img src="<%- url_for('/img/about/alipay.png') %>" class="img-pay">
        <img src="<%- url_for('/img/about/wechatpay.png') %>" class="img-pay">
    </div>
    <div id="comments" class="widget-wrap">
        <wycode-comments path="<%- page.path %>"></wycode-comments>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <%- js('js/comments/index.js') %>
</div>
<div class="col-md-3 blog-sidebar">
    <%- partial('_widget/about') %>
    <%- partial('_widget/friends') %>
</div>
