<div class="widget-wrap col-md-3 lab-item">
    <h6>一起来玩<strong>3D滚蛋吧</strong>看谁滚得远</h6>
    <img src="<%- url_for('/img/roll/roll.jpg') %>" alt="小程序码" width="100%"/>
</div>
<div class="widget-wrap col-md-3 lab-item">
    <h6>造福鱼友：欢迎使用<strong>养鱼小助手</strong></h6>
    <img src="<%- url_for('/img/fish/fish_logo.jpg') %>" alt="小程序码" width="100%"/>
</div>
<div class="widget-wrap col-md-3 lab-item">
    <h6>玩DOTA2，查英雄，查物品，查技能，查天梯排行<strong>DOTA2英雄技能物品天梯助手</strong>应有尽有</h6>
    <img src="<%- url_for('/img/dota/dota_logo.jpg') %>" alt="小程序码" width="100%"/>
</div>
<div class="widget-wrap col-md-3 lab-item">
    <h6>手机上的文字发到电脑上？电脑上的文字发到手机上？最简单的方式：使用<a href="https://wycode.cn/clipboard.html" target="_blank">跨平台剪切板</a>即可</h6>
    <p>并提供小程序版本</p>
    <img src="<%- url_for('/img/clipboard/clipboard.jpg') %>" alt="小程序码" width="100%"/>
</div>
<div class="widget-wrap col-md-6 lab-item">
    <h6>开源、纯净、无广告；省电、安全、不推送；适配安卓2.3至安卓7.1的纯净版西安自行车网点查询来了，还你一个简单纯净的出行APP，立即下载<a href="http://wycode.cn/upload/apk/bike.apk" target="_blank">西安公共自行车</a></h6>
    <img src="<%- url_for('/img/bike/bike1.png') %>" alt="截图" width="45%"/>
    <img src="<%- url_for('/img/bike/bike2.png') %>" alt="截图" width="45%"/>
</div>
<div class="widget-wrap col-md-5 lab-item">
    <h6>JavaFX技术实现的五子棋，可以局域网对局，可以聊天，可以自动判定胜负，可以悔棋，总代码不超过1000行，编译后仅18KB</h6>
    <img src="<%- url_for('/img/fivechess/fiveChess.png') %>" alt="五子棋" width="100%"/>
    <p>开放源码：<i class="fab fa-github"></i> <a href="https://github.com/wangyucode/FiveChess" target="_blank">https://github.com/wangyucode/FiveChess</a></p>
</div>
<div class="widget-wrap col-md-4 lab-item">
    <h6>Wengine是一款轻量级Android游戏引擎，使用纯Java开发，对Android开发者友好，可以用极少的代码实现一些简单的小游戏，目前有5款demo，打砖块，天天跑酷，FlappyBird，打飞机，蛇蛇大作战</h6>
    <p>开放源码：<i class="fab fa-github"></i> <a href="https://github.com/wangyucode/Wengine-android" target="_blank">https://github.com/wangyucode/Wengine-android</a></p>
</div>
<div id="comments" class="lab-item">
    <% page.addComment = true %>
    <wycode-comments path="<%- page.path %>"></wycode-comments>
</div>

                