<!DOCTYPE html>
<html lang="zh-CN">
<%- partial('_partial/head') %>
<body>
<%- partial('_partial/wycode-nav') %>
<%- partial('_partial/search-modal') %>
<% if(is_home()){ %>
    <%- partial('_partial/wycode-jumbotron'); %>
    <% var marginTop = is_home() ? '-200px' : '20px' %>
    <div id="particles-js"></div>
    <div class="container" style="margin-top: <%- marginTop %>;">
<% } %>
        <div class="row">
            <%- body %>
        </div>
    </div>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
<%- partial('_partial/after-footer') %>
</body>
</html>