<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope
         itemprop="blogPost">
    <div class="article-meta">
        <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
        <%- partial('post/category') %>
        <%- partial('post/tag') %>
    </div>
    <div class="article-inner">
        <% if (post.link || post.title){ %>
        <header class="article-header">
            <%- partial('post/title', {class_name: 'article-title'}) %>
        </header>
        <% } %>
        <div class="article-entry" itemprop="articleBody">
            <%- post.content %>
        </div>
    </div>
    <div class="container-reward">
        <img class="img-reward" src="<%- url_for('/img/reward.jpg') %>"/>
    </div>
</article>
<%- partial('post/nav') %>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 横幅 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4650660107955528"
     data-ad-slot="1398817789"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div id="comments">
    <% page.addComment = true %>
    <wycode-comments path="<%- page.path %>"></wycode-comments>
</div>