<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope
         itemprop="blogPost">
    <div class="article-meta">
        <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
        <%- partial('post/category') %>
        <%- partial('post/tag') %>
    </div>
    <div class="article-inner">
        <% if (post.link || post.title){ %>
        <header class="article-header">
            <%- partial('post/title', {class_name: 'article-title'}) %>
        </header>
        <% } %>
        <div class="article-entry" itemprop="articleBody">
            <% if (post.excerpt && index){ %>
            <%- post.excerpt %>
            <p class="article-more-link">
                <a href="<%- url_for(post.path) %>#more"><%= __('more') %></a>
            </p>
            <% } else { %>
            <%- post.content %>
            <% } %>
        </div>
    </div>
    <% if (!index){ %>
    <%- partial('post/nav') %>
    <% } %>
</article>

<% if (!index && theme.yungentie){ %>
<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<script>
    var cloudTieConfig = {
        url: document.location.href,
        sourceId: "",
        productKey: "32b5a020f7eb416280e9317a050982ac",
        target: "cloud-tie-wrapper"
    };
    console.log(document.location.href);
    var yunManualLoad = true;
    Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
</script>

<% } %>