<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <% for (var i in theme.menu){ %>
            <a class="blog-nav-item" href="<%- url_for(theme.menu[i]) %>">
                <% if(i === "博客"){ %>
                <i class="fa fa-pencil"></i> <%= i %>
                <% }else if(i === "归档"){ %>
                <i class="fa fa-folder-open"></i> <%= i %>
                <% }else{ %>
                <%= i %>
                <% } %>
            </a>
            <% } %>
            <a class="blog-nav-right-search" title="<%= __('search') %>" data-toggle="modal"  href="#searchModal"><i class="fa fa-search" aria-hidden="true"></i> 搜索</a>
        </nav>
    </div>
</div>