<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <% for (var i in theme.menu){ %>
            <a class="blog-nav-item" href="<%- url_for(theme.menu[i]) %>" ><%= i %></a>
            <% } %>

            <% if (theme.rss){ %>
            <a class="blog-nav-right-a" href="<%- url_for(theme.rss) %>" title="<%= __('rss_feed') %>" target="_blank"><img src="<%- url_for("img/navi/rss.png")%>"/></a>
            <% } %>
            <a class="blog-nav-right-a" title="<%= __('search') %>" style="margin-right: 10px"><img src="<%- url_for("img/navi/search.png")%>"/></a>
        </nav>
    </div>
</div>