<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%
    var title = page.title;

    if (is_archive()) {
        title = __('archive_a');

        if (is_month()) {
            title += ': ' + page.year + '/' + page.month;
        } else if (is_year()) {
            title += ': ' + page.year;
        }
    } else if (is_category()) {
        title = __('category') + ': ' + page.category;
    } else if (is_tag()) {
        title = __('tag') + ': ' + page.tag;
    }
    %>
    <title><% if (title){ %><%= title %> |<% } %><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <% if (theme.rss){ %>
    <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>
    <% if (theme.favicon){ %>
    <link rel="icon" href="<%- url_for(theme.favicon) %>">
    <% } %>
    <!-- Bootstrap -->
    <%- css('flat/dist/css/vendor/bootstrap.min.css') %>
    <%- css('flat/dist/css/flat-ui.min') %>
    <%- css('font-awesome-4.7.0/css/font-awesome.min') %>
    <%- css('highlight/styles/monokai-sublime') %>
    <%- css('css/blog') %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <%- js('flat/dist/js/vendor/html5shiv') %>
    <%- js('flat/dist/js/vendor/respond.min') %>
    <![endif]-->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?81e368d8c16ac4e8bf9f5e8bfb18a92e";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-4650660107955528",
            enable_page_level_ads: true
        });
    </script>

</head>
