<nav class="navbar navbar-dark fixed-top navbar-expand-lg bg-gradient">
    <div class="container-fluid mx-4">
        <a class="navbar-brand" href="<%- url_for('/')%>" target="_self">
            <img src="<%- url_for(theme.favicon) %>" width="32" height="32" alt="wycode.cn">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="me-auto navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="<%- not_static_page(page) ? 'nav-link active': 'nav-link';%>" href="<%- url_for('/')%>"><i
                            class="bi bi-pen-fill"></i> 博客</a>
                </li>
                <li class="nav-item">
                    <a class="<%- is_lab(page) ? 'nav-link active': 'nav-link';%>" href="<%- url_for('/lab.html')%>"><i
                            class="bi bi-code-slash"></i> 实验室</a>
                </li>
                <li class="nav-item">
                    <a class="<%- is_clipboard(page) ? 'nav-link active': 'nav-link';%>"
                        href="<%- url_for('/clipboard.html')%>"><i class="bi bi-clipboard-check"></i> 跨平台剪切板</a>
                </li>
                <li class="nav-item">
                    <a class='nav-link' href="https://wycode.cn/admin"><i class="bi bi-wrench"></i> 管理</a>
                </li>
                <li class="nav-item">
                    <a class="<%- is_about(page) ? 'nav-link active': 'nav-link';%>"
                        href="<%- url_for('/about.html')%>"><i class="bi bi-person-plus-fill"></i> 关于</a>
                </li>

            </ul>
            <% if(not_static_page(page)){ %>
                <div class="navbar-nav">
                    <a class="btn btn-link nav-link" data-bs-toggle="modal" data-bs-target="#searchModal"><i
                            class="bi bi-search"></i> 搜索</a>
                </div>
            <% } %>
        </div>
    </div>
</nav>