<nav class="navbar navbar-dark fixed-top navbar-expand-lg wy-nav">
    <div class="container">
        <a class="navbar-brand" href="<%- url_for('/')%>" target="_self"><img src="<%- url_for(theme.favicon) %>"
                                                                            width="32" height="32" alt="wycode.cn">
            王郁的小站</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="<%- is_lab(page) ? 'nav-link active': 'nav-link';%>" href="<%- url_for('/lab.html')%>"><i class="fas fa-flask fa-fw"></i> 实验室</a>
                </li>
                <li class="nav-item">
                    <a class="<%- is_clipboard(page) ? 'nav-link active': 'nav-link';%>" href="<%- url_for('/clipboard.html')%>"><i class="fas fa-clipboard fa-fw"></i> 跨平台剪切板</a>
                </li>
                <li class="nav-item">
                    <a class="<%- is_api(page) ? 'nav-link active': 'nav-link';%>" href="<%- url_for('/api.html')%>"><i class="fas fa-plug fa-fw"></i> API</a>
                </li>
                <li class="nav-item">
                    <a class='nav-link' href="https://wycode.cn/admin"><i class="fas fa-wrench fa-fw"></i> 管理</a>
                </li>
                <li class="nav-item">
                    <a class="<%- is_about(page) ? 'nav-link active': 'nav-link';%>" href="<%- url_for('/about.html')%>"><i class="fas fa-user fa-fw"></i> 关于</a>
                </li>
                <% if(not_static_page(page)){ %>
                <li class="nav-item blog-nav-right-search">
                    <a class="nav-link" data-toggle="modal"  href="#searchModal"><i class="fas fa-search fa-fw"></i> 搜索</a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
